@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

a {
  outline: none;
  cursor: pointer;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

strong, b {
  font-weight: 800;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus, *:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.5px;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
}

#index .wrapper, #about_page .wrapper {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: #f5cd4b;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

a:hover {
  color: #ffc300;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 800;
  line-height: 130%;
  margin-bottom: 40px;
  color: #222222;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
h1 .light, .h1 .light, h2 .light, .h2 .light, h3 .light, .h3 .light, h4 .light, .h4 .light, h5 .light, .h5 .light, h6 .light, .h6 .light {
  font-weight: 400;
}

h1, .h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 45px;
  margin-bottom: 60px;
}

h2, .h2 {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 50px;
}

h3, .h3 {
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 1px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 14px;
    line-height: 180%;
  }

  h1, .h1 {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 40px;
  }

  h2, .h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3, .h3 {
    font-size: 22px;
    line-height: 40px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 20px;
    letter-spacing: 1.0px;
  }

  h2, .h2 {
    font-size: 26px;
    line-height: 35px;
  }

  h3, .h3 {
    font-size: 21px;
    line-height: 35px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
    letter-spacing: 1.0px;
  }

  h2, .h2 {
    font-size: 19px;
    line-height: 30px;
  }

  h3, .h3 {
    font-size: 18px;
    line-height: 30px;
  }
}
.clear {
  content: "";
  display: block;
  clear: both;
}

.button {
  padding: 0 40px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0px;
  cursor: pointer;
  color: #1d1d1d;
  background-color: #f5cd4b;
  border-radius: 25px;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #ffc300;
  text-decoration: none;
  color: #1d1d1d;
}

@media screen and (max-width: 1366px) {
  .button {
    height: 43px;
    line-height: 46px;
    font-size: 14px;
  }
}
.slick-slider {
  position: relative;
  margin: 0 auto;
}
.slick-slider .slick-list {
  margin: 0 0px;
}

.slick-slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  width: 27px;
  height: 27px;
  z-index: 5;
  outline: none;
  cursor: pointer;
  border: 2px solid;
  border-radius: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-arrow:before, .slick-arrow:after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 15px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -4px;
  background: url(images/arr_small_black2.png) no-repeat center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-arrow:after {
  background: url(images/arr_small_yellow2.png);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.slick-arrow:hover {
  border-color: #ffc300;
}
.slick-arrow:hover:before {
  opacity: 0;
}
.slick-arrow:hover:after {
  opacity: 1;
}

.slick-prev {
  left: 0px;
}
.slick-prev:before, .slick-prev:after {
  transform: rotate(180deg);
  margin-left: -6px;
}

.slick-next {
  right: 0px;
}

ul.slick-dots {
  position: absolute;
  text-align: right;
  width: 120px;
  top: 35px;
  left: 44.64286%;
  margin-left: 63px;
  z-index: 2;
}
ul.slick-dots li {
  position: absolute;
  width: 120px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1.3px;
  color: #959595;
  text-align: right;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
ul.slick-dots li strong {
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #242424;
}
ul.slick-dots li:hover {
  color: #f5cd4b;
}
ul.slick-dots li.slick-active {
  opacity: 1;
}
ul.slick-dots li button {
  display: none;
}

.tabs_container {
  position: relative;
}

.tab {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.tab.active {
  opacity: 1;
  height: auto;
  overflow: visible;
  padding-top: 8px;
}

.tab_buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  text-align: right;
}
.tab_buttons span {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  white-space: nowrap;
  right: 0;
  color: #f5cd4b;
  -webkit-transition: border 0.3s ease 0s;
  -moz-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.tab_buttons span:after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 15px;
  margin-left: 8px;
  vertical-align: -5px;
  background: url(images/arr_small_yellow.png) no-repeat center;
}
.tab_buttons span a {
  color: #777777;
  margin: -5px -20px;
  padding: 5px 20px;
  display: block;
}
.tab_buttons span.active {
  opacity: 0;
  z-index: 1;
}
.tab_buttons span:hover {
  color: #ffc300;
}
.tab_buttons span:hover:after {
  background-image: url(images/arr_small_orange.png);
}

.main_section {
  overflow: hidden;
  position: relative;
}

.in {
  padding: 0px 65px;
  margin: 0 auto;
  max-width: 1546px;
  position: relative;
}
.in:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 1280px) {
  .in {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 1030px) {
  .in {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 450px) {
  .in {
    padding: 0px 10px;
  }
}
.fancybox-enabled {
  overflow: auto;
}

.more {
  font-weight: 400;
}
.more:after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 15px;
  margin-left: 8px;
  vertical-align: -5px;
  background: url(images/arr_small_orange.png) no-repeat center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.all_link {
  float: right;
  font-weight: 600;
  color: #bd9515;
  margin-top: 11px;
  position: relative;
  letter-spacing: 0.2px;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.all_link:after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 15px;
  margin-left: 18px;
  vertical-align: -5px;
  background: url(images/arr_small_orange.png) no-repeat center;
}
.all_link:hover {
  color: #242424;
}
.all_link:hover:after {
  background-image: url(images/arr_small_black.png);
}
.all_link.download:after {
  height: 20px;
  border: 0;
  border-right: 2px solid;
  border-radius: 0px;
  transform: rotate(90deg);
}

/* start header styles */
/*#index #header { 
    top: 0;
    left: 0;
    background: none;
    border-bottom: 1px solid transparent;
    //position: absolute;
    
    &:before {
	opacity: 0;
    }
    

    
}
#index #header.scroll {
    //background: rgba(255, 255, 255, 0.9);
    //box-shadow: 0 0 20px rgba(33, 97, 143, 0.25);
    //background: #0b59d5 url(images/header_bg.png) no-repeat center / cover;
    
    &:before {
    opacity: 1;
    }
}*/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 6;
  padding-bottom: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 115%;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: rgba(33, 34, 37, 0.65);
  background: -webkit-linear-gradient(-90deg, #212225 40%, transparent 77%);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(-90deg, #212225 40%, transparent 77%);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(-90deg, #212225 40%, transparent 77%);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(-90deg, #212225 40%, transparent 77%);
  /* для IE10+ */
  background: linear-gradient(180deg, #212225 40%, transparent 77%);
}
#header .in {
  padding-top: 23px;
  z-index: 1;
  padding-bottom: 25px;
}
#header #logo {
  margin-right: 138px;
  margin-top: 1px;
  float: left;
  font-size: 35px;
  color: #fff;
  position: relative;
  z-index: 3;
}
#header #logo a {
  -webkit-transition: opacity 0.8s ease 0s;
  -moz-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}
#header #logo a:hover {
  opacity: 0.9;
}
#header nav {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
}
#header nav:hover {
  overflow: visible;
}

.header_cont {
  float: right;
  max-width: 260px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.5px;
  margin-left: 180px;
  margin-top: 4px;
  position: relative;
  z-index: 3;
  color: #000000;
  text-align: right;
}
.header_cont a {
  color: #f5cd4b;
  text-decoration: none;
}
.header_cont a:hover {
  color: #ffc300;
}
.header_cont .order_call {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.2px;
}

.menu_button_mob {
  display: none;
}

ul.main_menu {
  text-align: justify;
  line-height: 0;
  position: relative;
  top: 2px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 0%;
  letter-spacing: 0.1px;
}
ul.main_menu:after {
  content: "";
  display: inline-block;
  width: 50%;
}
ul.main_menu > li {
  margin-right: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
  line-height: 150%;
}
ul.main_menu a {
  display: inline-block;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}
ul.main_menu a:hover {
  text-decoration: none;
}
ul.main_menu li.submenu > a:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  z-index: 0;
  margin-left: 6px;
  margin-bottom: 2px;
  margin-right: -9px;
  border-top: 4px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
ul.main_menu li.submenu.active > a:after, ul.main_menu li.submenu:hover > a:after {
  border-top: 4px solid #ffc300;
}
ul.main_menu li.submenu:hover > a:after {
  transform: rotate(180deg);
}
ul.main_menu li.submenu:before {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 20px;
  left: 0;
  z-index: 0;
  content: "";
}
ul.main_menu .active > a, ul.main_menu li:hover > a {
  color: #f5cd4b;
}
ul.main_menu ul {
  position: absolute;
  width: 240px;
  padding: 4px 0 10px;
  left: 10px;
  top: 38px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 133%;
  font-weight: 300;
  letter-spacing: 0.8px;
  z-index: 1;
  background-color: #33383c;
  text-align: left;
  overflow: hidden;
}
ul.main_menu ul > li {
  display: block;
  padding: 6px 0;
  position: relative;
}
ul.main_menu ul > li:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: -70px;
  margin-top: -75px;
  height: 160px;
  width: 320px;
  background: rgba(201, 227, 254, 0.25);
  background: #feffff;
  background: -moz-radial-gradient(center, contain, rgba(201, 227, 254, 0.3) 0%, transparent 100%);
  background: -webkit-radial-gradient(center, contain, rgba(201, 227, 254, 0.3) 0%, transparent 100%);
  background: -o-radial-gradient(center, contain, rgba(201, 227, 254, 0.3) 0%, transparent 100%);
  background: -ms-radial-gradient(center, contain, rgba(201, 227, 254, 0.3) 0%, transparent 100%);
  background: radial-gradient(ellipse farthest-side at center, rgba(201, 227, 254, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 150px / 95px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
ul.main_menu ul > li:hover:after {
  opacity: 1;
}
ul.main_menu ul a {
  display: block;
  padding: 5px 25px;
  position: relative;
  z-index: 1;
}
ul.main_menu ul .active a, ul.main_menu ul a.active, ul.main_menu ul a:hover {
  text-decoration: none;
}
ul.main_menu ul .active a:before, ul.main_menu ul a.active:before, ul.main_menu ul a:hover:before {
  display: none;
}
ul.main_menu > li:hover {
  overflow: visible;
  z-index: 3;
}
ul.main_menu > li:hover ul {
  top: 48px;
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  #header #logo {
    margin-right: 70px;
  }

  .header_cont {
    margin-left: 90px;
  }
}
@media screen and (max-width: 1300px) {
  #header #logo {
    margin-right: 50px;
  }

  .header_cont {
    margin-left: 50px;
    max-width: 220px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  #header #logo {
    margin-right: 25px;
  }

  .header_cont {
    margin-left: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .header_cont {
    margin-left: 0px;
    font-size: 20px;
  }

  ul.main_menu > li {
    padding: 0px 5px;
  }
}
@media screen and (max-width: 1000px) {
  #header .in {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #header #logo {
    left: 50%;
    margin-left: -44px;
  }
  #header nav {
    left: 20px;
    top: 33px;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 0;
  }

  .menu_button_mob {
    height: 5px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    display: block;
    width: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
  }
  .menu_button_mob:after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 50%;
    top: 12px;
    left: 0;
    background-color: #fff;
  }
  .menu_button_mob:before {
    content: '';
    position: fixed;
    right: 20px;
    top: 25px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .menu_button_mob.active:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  ul.main_menu {
    position: fixed;
    z-index: 3;
    width: 270px;
    left: 0px;
    top: 70px;
    padding-bottom: 1px;
    background-color: #33383c;
    display: none;
    max-height: calc(100% - 70px);
    overflow: auto;
  }
  ul.main_menu:after {
    display: none;
  }
  ul.main_menu > li {
    display: block;
    height: auto;
    padding: 0 0px;
    margin-bottom: 5px;
    text-align: left;
  }
  ul.main_menu a {
    display: block;
    padding: 10px 20px 10px;
  }
  ul.main_menu a:before {
    display: block;
    opacity: 0;
  }
  ul.main_menu a:hover {
    border-bottom-color: transparent;
  }
  ul.main_menu ul {
    position: relative;
    top: 0px;
    left: 0;
    opacity: 1;
    display: none;
  }
  ul.main_menu ul:before {
    display: none;
  }
  ul.main_menu > li:hover ul {
    top: 0px;
  }
}
@media screen and (max-width: 800px) {
  #header #logo img {
    width: 60px;
  }
  #header nav {
    top: 23px;
    width: 20px;
    height: 20px;
  }

  .header_cont {
    font-size: 18px;
  }

  ul.main_menu {
    top: 55px;
  }

  .menu_button_mob {
    width: 20px;
    height: 3px;
  }
  .menu_button_mob:after {
    top: 8px;
  }
}
@media screen and (max-width: 600px) {
  .header_cont {
    width: auto;
    margin-top: 10px;
  }
  .header_cont a:first-child {
    display: none;
  }
  .header_cont .order_call {
    width: 25px;
    height: 25px;
    text-indent: 1000px;
    overflow: hidden;
    background: url(images/icon_tel_yellow2.png) no-repeat center;
  }
}
@media screen and (max-width: 450px) {
  #header nav {
    left: 10px;
  }
}
/* end header styles */
/* start footer styles */
#pre_foo {
  display: table-row;
  height: 100%;
}

footer {
  width: 100%;
  position: relative;
  display: block;
  background: #2f3438 url(images/footer.jpg) center top no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  clear: both;
}
footer .in {
  padding-top: 56px;
  padding-bottom: 45px;
  color: #fff;
  z-index: 1;
}
footer .in:after {
  content: "";
  display: block;
  clear: both;
}
footer .h5 {
  color: #fff;
  margin-bottom: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer .tel {
  letter-spacing: 1.4px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  background: url(images/icon_tel_white.png) left 7px no-repeat;
}
footer .address {
  letter-spacing: 0.7px;
  line-height: 150%;
  padding-left: 25px;
  margin-bottom: 23px;
  background: url(images/icon_address_white.png) left 7px no-repeat;
}
footer .address p {
  margin-bottom: 0;
}
footer .foo_left {
  float: left;
  width: 16.2%;
  margin-right: 12.9%;
  margin-bottom: 20px;
}
footer .foo_logo {
  margin-left: -5px;
  margin-bottom: 30px;
}
footer .social {
  margin-bottom: 5px;
}
footer .social .h5 {
  margin-bottom: 26px;
}
footer .social a {
  position: relative;
  display: inline-block;
  margin-right: 24px;
}
footer .social a img {
  position: relative;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  vertical-align: bottom;
}
footer .social a .hover {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer .social a:hover img {
  opacity: 0;
}
footer .social a:hover .hover {
  opacity: 1;
}
footer .foo_menu {
  float: left;
  width: 175px;
  position: relative;
  margin-bottom: 85px;
  margin-right: 6.4%;
}
footer .foo_menu.foo_submenu {
  margin-right: 0 !important;
}
footer .foo_menu a {
  display: inline-block;
  text-decoration: none;
}
footer .foo_menu a:hover {
  text-decoration: none;
}
footer .foo_menu > ul li {
  margin: 0 0 17px;
  display: block;
  line-height: 140%;
}
footer .form_block {
  float: right;
  width: 35.1%;
}
footer .form_block .h5 {
  margin-bottom: 31px;
}
footer .form_block form {
  margin-right: -20px;
  margin-left: -5px;
}
footer .form_block .button_block {
  float: right;
  margin-right: 20px;
}
footer .foo_bottom {
  clear: both;
  border-top: 1px solid #f5cd4b;
  padding-top: 40px;
  padding-bottom: 5px;
}
footer .foo_bottom:after {
  content: "";
  display: block;
  clear: both;
}
footer #copy {
  float: left;
  clear: both;
  padding-top: 5px;
  letter-spacing: 0.8px;
}
footer #dev {
  float: right;
  padding-top: 3px;
}

@media screen and (max-width: 1600px) {
  #footer .foo_left {
    margin-right: 8%;
  }
  #footer .foo_menu {
    margin-right: 3%;
  }
  #footer .form_block {
    width: 40%;
  }
}
@media screen and (max-width: 1400px) {
  #footer .foo_left {
    margin-right: 5%;
  }
  #footer .foo_menu {
    margin-right: 0%;
  }
  #footer .foo_menu.foo_submenu {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 1200px) {
  #footer .foo_menu {
    width: 145px;
  }
  #footer .foo_menu.foo_submenu {
    width: 175px;
  }
}
@media screen and (max-width: 1000px) {
  #footer .in {
    padding-bottom: 20px;
  }
  #footer .foo_left {
    width: 25%;
  }
  #footer .foo_menu {
    width: 145px;
    margin-bottom: 30px;
  }
  #footer .foo_menu.foo_submenu {
    display: none;
  }
  #footer .form_block {
    width: 50%;
  }
  #footer .foo_bottom {
    padding-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  #footer .foo_left {
    width: 38%;
    margin-right: 0%;
  }
  #footer .foo_logo img {
    width: 90px;
  }
  #footer .foo_menu {
    display: none;
  }
  #footer .form_block {
    width: 60%;
  }
  #footer #copy {
    max-width: 210px;
  }
}
@media screen and (max-width: 600px) {
  #footer .in {
    padding-top: 20px;
  }
  #footer .foo_left {
    width: auto;
    float: none;
    text-align: center;
  }
  #footer .form_block {
    display: none;
  }
  #footer .tel {
    display: inline-block;
  }
  #footer .address {
    background: none;
  }
  #footer .social a {
    margin-right: 9px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  #footer .foo_logo {
    display: none;
  }
  #footer #copy {
    margin: 0 auto 20px;
    float: none;
    text-align: center;
  }
  #footer #dev {
    float: none;
    text-align: center;
  }
}
/* end footer styles */
/* start main slide styles */
#main_slide {
  overflow: visible;
  background: #222222 url(images/main_slide_bg.jpg) no-repeat center/cover;
  margin-bottom: 94px;
}
#main_slide .in {
  padding-top: 140px;
}
#main_slide .text {
  color: #fff;
  position: relative;
  padding-bottom: 1px;
  z-index: 2;
}
#main_slide h1 {
  letter-spacing: 1.1px;
  line-height: 55px;
  color: #fff;
  max-width: 1000px;
  margin-bottom: 41px;
}
#main_slide .button {
  min-width: 173px;
  margin-bottom: 72px;
}
#main_slide h4 {
  color: #f5cd4b;
  max-width: 51.9%;
  padding-top: 14px;
  margin-left: 5px;
  border-top: 1px solid #f5cd4b;
  margin-bottom: 15px;
}
#main_slide .activity {
  font-size: 0;
  line-height: 0;
  margin-left: -80px;
  margin-bottom: -90px;
}
#main_slide .activity .item {
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  box-sizing: border-box;
}
#main_slide .activity .item:nth-child(1) {
  width: 31.5%;
}
#main_slide .activity .item:nth-child(1) a {
  padding-left: 15.53398%;
}
#main_slide .activity .item:nth-child(2) {
  width: 36.9%;
}
#main_slide .activity .item:nth-child(2) a {
  padding-left: 13.59223%;
}
#main_slide .activity .item:nth-child(3) {
  width: 31.5%;
}
#main_slide .activity .item:nth-child(3) a {
  padding-left: 15.53398%;
}
#main_slide .activity .item a {
  color: #fff;
  box-sizing: border-box;
  display: block;
  padding: 79px 3.8835% 40px;
  height: 495px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#main_slide .activity .item h3 {
  color: #fff;
  letter-spacing: 0.7px;
  margin-bottom: 33px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#main_slide .activity .item .exam {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  position: relative;
  padding-left: 44px;
  padding-top: 34px;
  position: absolute;
  max-width: 80%;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#main_slide .activity .item .exam:before, #main_slide .activity .item .exam:after {
  content: "";
  position: absolute;
  left: 0;
}
#main_slide .activity .item .exam:before {
  height: 25px;
  width: 1px;
  background: #f5cd4b;
  top: 26px;
}
#main_slide .activity .item .exam:after {
  height: 1px;
  width: 22px;
  background: #f5cd4b;
  top: 50px;
}
#main_slide .activity .item .hover_text {
  overflow: hidden;
  opacity: 0;
  line-height: 22px;
  padding-right: 20%;
  color: #816e32;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#main_slide .activity .item .hover_text p {
  max-height: 175px;
  overflow: hidden;
  margin-bottom: 46px;
}
#main_slide .activity .item .hover_text .more {
  color: #1d1d1d;
}
#main_slide .activity .item .hover_text .more:after {
  border: 2px solid #1d1d1d;
  background-image: url(images/arr_small_black.png);
}
#main_slide .activity .item.active a, #main_slide .activity .item:hover a {
  background-color: #f5cd4b;
}
#main_slide .activity .item.active h3, #main_slide .activity .item:hover h3 {
  color: #1d1d1d;
}
#main_slide .activity .item.active .exam, #main_slide .activity .item:hover .exam {
  opacity: 0;
}
#main_slide .activity .item.active .hover_text, #main_slide .activity .item:hover .hover_text {
  opacity: 1;
}
#main_slide .activity .item.active .more:after, #main_slide .activity .item:hover .more:after {
  margin-left: 18px;
}

@media screen and (max-width: 1400px) {
  #main_slide {
    margin-bottom: 110px;
  }
  #main_slide .in {
    padding-top: 125px;
  }
  #main_slide .activity {
    margin-bottom: -110px;
    margin-left: -60px;
  }
  #main_slide .activity .item a {
    padding: 60px 3.8835% 40px;
    height: 470px;
  }
  #main_slide .activity .item h3 {
    margin-bottom: 30px;
  }
  #main_slide .activity .item .hover_text p {
    max-height: 195px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  #main_slide .activity .item:nth-child(3) a {
    padding-left: 13.59223%;
  }
}
@media screen and (max-width: 1200px) {
  #main_slide h1 {
    line-height: 50px;
  }
  #main_slide .activity {
    margin-bottom: -110px;
    margin-left: 0px;
  }
  #main_slide .activity .slick-arrow {
    top: 145px;
  }
  #main_slide .activity .slick-arrow:before {
    background: url(images/arr_small_white2.png) no-repeat center;
  }
  #main_slide .activity .item a {
    padding: 60px 13.59223% 40px;
    height: 470px;
  }
  #main_slide .activity .item h3 {
    margin-bottom: 30px;
  }
  #main_slide .activity .item .hover_text p {
    max-height: 195px;
  }
  #main_slide .activity .item:nth-child(1), #main_slide .activity .item:nth-child(2), #main_slide .activity .item:nth-child(3) {
    width: 33.3%;
  }
  #main_slide .activity .item:nth-child(1) a, #main_slide .activity .item:nth-child(2) a, #main_slide .activity .item:nth-child(3) a {
    padding-left: 13.59223%;
  }
}
@media screen and (max-width: 1030px) {
  #main_slide h1 {
    line-height: 45px;
  }
  #main_slide .activity {
    margin-bottom: 0px;
  }
  #main_slide .activity .item a {
    padding: 40px 9.70874% 40px;
    height: 390px;
    text-align: left;
  }
  #main_slide .activity .item h3 {
    margin-bottom: 20px;
  }
  #main_slide .activity .item .exam {
    padding-left: 20px;
    padding-top: 0px;
    max-width: 90%;
  }
  #main_slide .activity .item .exam:before {
    height: 5px;
    width: 5px;
    top: 12px;
  }
  #main_slide .activity .item .exam:after {
    display: none;
  }
  #main_slide .activity .item .hover_text {
    padding-right: 0%;
    opacity: 1;
    color: #fff;
    padding-top: 95px;
  }
  #main_slide .activity .item .hover_text p {
    display: none;
  }
  #main_slide .activity .item .hover_text .more {
    color: #fff;
  }
  #main_slide .activity .item .hover_text .more:after {
    border-color: #fff;
    background-image: url(images/arr_small_white.png);
  }
  #main_slide .activity .item:nth-child(1) a, #main_slide .activity .item:nth-child(2) a, #main_slide .activity .item:nth-child(3) a {
    padding-left: 9.70874%;
  }
}
@media screen and (max-width: 800px) {
  #main_slide {
    text-align: center;
  }
  #main_slide h1 {
    line-height: 40px;
  }
  #main_slide .button {
    margin-bottom: 50px;
  }
}
/* end main slider styles */
/* start advantages styles */
#advantages {
  overflow: hidden;
  z-index: 0;
}
#advantages .in {
  padding-top: 115px;
}

.advantages {
  position: relative;
}
.advantages:after {
  content: "";
  display: block;
  clear: both;
}
.advantages .adv_item {
  float: left;
  width: 25%;
  margin: 0 2% 40px 0;
  padding-left: 47px;
  padding-top: 22px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
}
.advantages .adv_item:nth-child(1) {
  width: 22.9%;
}
.advantages .adv_item:nth-child(2) {
  width: 26.7%;
}
.advantages .adv_item:nth-child(3) {
  width: 23.2%;
}
.advantages .adv_item:nth-child(4) {
  margin-right: 0;
  width: 21.2%;
}
.advantages .adv_item:before, .advantages .adv_item:after {
  content: "";
  position: absolute;
  width: 131px;
  height: 131px;
  left: 0;
  top: 0;
  background-color: #f5cd4b;
}
.advantages .adv_item:after {
  top: 30px;
  left: 27px;
  background: url(images/bg_patern.png) repeat left top;
}
.advantages .adv_item .num {
  position: relative;
  z-index: 2;
  font-size: 100px;
  line-height: 100px;
  color: #212121;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}
.advantages .adv_item .h3 {
  font-size: 24px;
  color: #f5cd4b;
  margin-bottom: 2px;
}
.advantages .adv_item p {
  margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
  #advantages .in {
    padding-top: 80px;
  }
}
/* end advantages styles */
/* start production styles */
#production {
  z-index: 0;
}
#production .in {
  padding-top: 35px;
  padding-bottom: 80px;
}
#production h2 {
  margin-bottom: 46px;
}

.production_block {
  position: relative;
}
.production_block:after {
  content: "";
  display: block;
  clear: both;
}
.production_block .prod_item {
  float: left;
  width: 20%;
  height: 563px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  background: url(images/production_bg.png) no-repeat center top;
  position: relative;
  text-align: center;
}
.production_block .prod_item:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 215px;
  height: 216px;
  margin-left: -107px;
  left: 50%;
  top: 119px;
  background-color: #f5cd4b;
  border-radius: 110px;
}
.production_block .prod_item a {
  display: block;
  position: relative;
  height: 100%;
  padding-top: 1px;
}
.production_block .prod_item .bg {
  height: 100%;
  width: 100%;
  background: no-repeat center top;
  position: absolute;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
    /*&:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url(images/production_grad.png) no-repeat center top;
	opacity: 0.7;
    }*/
}
.production_block .prod_item .img {
  height: 330px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 23px;
  margin-bottom: 51px;
  z-index: 2;
}
.production_block .prod_item .img img {
  margin: 0 -50px;
}
.production_block .prod_item h4 {
  font-weight: 400;
  color: #f5cd4b;
  height: 58px;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
.production_block .prod_item .more {
  position: relative;
  z-index: 2;
  color: #fff;
}
.production_block .prod_item .more:after {
  margin-left: 20px;
  background-image: url(images/arr_small_white.png);
}
.production_block .prod_item:hover .bg {
  opacity: 1;
}
.production_block .prod_item:hover .more {
  color: #f5cd4b;
}
.production_block .prod_item:hover .more:after {
  margin-left: 20px;
  background-image: url(images/arr_small_yellow.png);
}

.content .production_block {
  margin-bottom: 100px;
}

/* end production styles */
/* start promotions styles */
#promotions {
  z-index: 0;
}
#promotions .in {
  padding-top: 76px;
  padding-bottom: 77px;
}
#promotions h2 {
  margin-bottom: 46px;
}

.promotions_block {
  height: 600px;
}

.slider {
  position: relative;
}
.slider .slick-arrow {
  top: 39px;
  left: 44.64286%;
}
.slider .slick-arrow.slick-next {
  margin-left: 229px;
}

.slider_menu {
  width: 21.34541%;
  float: left;
  padding-top: 53px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}
.slider_menu .slick-list {
  overflow: visible;
}
.slider_menu .slider_menu_item {
  margin-bottom: 58px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider_menu .slider_menu_item:hover {
  color: #f5cd4b;
}
.slider_menu .slider_menu_item:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 16px;
  width: 50%;
  height: 1px;
  background-color: #ffc300;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider_menu .slider_menu_item.slick-current {
  color: #ffc300;
}
.slider_menu .slider_menu_item.slick-current:after {
  opacity: 1;
}

.slider_more {
  margin-left: 27.81371%;
}
.slider_more .slider_more_item .img {
  text-align: center;
  height: 510px;
  width: 39.28571%;
  float: left;
  overflow: hidden;
}
.slider_more .slider_more_item .img img {
  height: 100%;
}
.slider_more .slider_more_item .text {
  margin-left: 45.44643%;
  padding-top: 141px;
}
.slider_more .slider_more_item h3 {
  margin-bottom: 23px;
  letter-spacing: 1px;
}
.slider_more .slider_more_item P {
  margin-bottom: 43px;
}

/* end promotions styles */
/* start forms styles */
#main_form {
  z-index: 0;
}
#main_form .in {
  padding: 48px 60px 31px;
  max-width: 1426px;
  margin-bottom: 50px;
  background: url(images/main_form_bg.jpg) no-repeat center top/cover;
  color: #fff;
  height: calc(230px - 48px - 31px);
}
#main_form .in:after {
  content: '';
  position: absolute;
  width: 280px;
  height: 282px;
  top: -46px;
  right: 4.65718%;
  background: url(images/main_form_img.png) no-repeat center/cover;
}
#main_form h3 {
  color: #fff;
  margin-bottom: 46px;
}
#main_form p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-left: 44px;
  position: relative;
  float: left;
  margin-right: 41px;
}
#main_form p:before, #main_form p:after {
  content: "";
  position: absolute;
  left: 0;
}
#main_form p:before {
  height: 25px;
  width: 1px;
  background: #f5cd4b;
  top: -8px;
}
#main_form p:after {
  height: 1px;
  width: 22px;
  background: #f5cd4b;
  top: 16px;
}
#main_form .form_block {
  margin-top: -11px;
}
#main_form .form_block input {
  width: 326px;
  margin-right: 45px;
}
#main_form .form_block .button_block {
  padding-top: 0;
}
#main_form .form_block button[type="submit"] {
  width: 172px;
}

.form_block a {
  color: #fff;
  text-decoration: underline;
}
.form_block a:hover {
  text-decoration: none;
}
.form_block input, .form_block textarea {
  padding: 5px 16px;
  margin-bottom: 35px;
  margin-right: 15px;
  height: 48px;
  width: calc(50% - 20px);
  max-width: 100%;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 46px;
  font-weight: 300;
  vertical-align: top;
  border-radius: 0px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form_block input::-webkit-input-placeholder, .form_block textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}
.form_block input::-moz-placeholder, .form_block textarea::-moz-placeholder {
  opacity: 1;
  color: #fff;
}
.form_block input:-moz-placeholder, .form_block textarea:-moz-placeholder {
  opacity: 1;
  color: #fff;
}
.form_block input:-ms-input-placeholder, .form_block textarea:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}
.form_block textarea {
  height: 119px;
  width: calc(100% - 20px);
  margin-right: 0;
  margin-bottom: 15px;
}
.form_block .check {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 46%;
  padding-left: 34px;
  margin-right: 50px;
  opacity: 0.8;
}
.form_block input[type="radio"], .form_block input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-bottom: 0;
  opacity: 0;
  margin-left: -2px;
  position: absolute;
  margin-right: 0;
}
.form_block input[type="checkbox"]:not(checked) + label {
  margin-bottom: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.form_block input[type="checkbox"]:not(checked) + label:before {
  content: '';
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 5px;
}
.form_block input[type="checkbox"]:not(checked) + label:after {
  content: '';
  width: 16px;
  height: 14px;
  background: url(images/check.png) no-repeat center;
  position: absolute;
  left: 0;
  top: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form_block input[type="checkbox"]:checked + label:after {
  opacity: 0;
}
.form_block .button_block {
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
}
.form_block button[type="submit"], .form_block .uFormSubmit {
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  width: 200px;
  height: 45px;
  line-height: 43px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f5cd4b;
  color: #1d1d1d;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 0;
  border-radius: 25px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
}
.form_block button[type="submit"]:hover, .form_block .uFormSubmit:hover {
  text-decoration: none;
  background-color: #ffc300;
}

@media screen and (max-width: 1600px) {
  .form_block .check {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .form_block .check {
    font-size: 12px;
    width: 40.5%;
    max-width: 225px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .form_block .check {
    width: 30%;
  }
}
@media screen and (max-width: 1000px) {
  .form_block .check {
    width: 45%;
  }
  .form_block button[type="submit"], .form_block .uFormSubmit {
    width: 150px;
  }
}
@media screen and (max-width: 800px) {
  .form_block .check {
    width: 38%;
  }
}
/* end forms styles */
/* start services styles */
#services {
  z-index: 0;
}
#services .in {
  padding-top: 58px;
  padding-bottom: 78px;
}
#services h2 {
  margin-bottom: 46px;
}

.preview_blocks {
  position: relative;
  margin: 0 -30px 0 -25px;
}
.preview_blocks .preview_bl {
  width: calc(32.83% - 55px);
  margin: 0 25px 40px;
  display: inline-block;
  vertical-align: top;
  height: 585px;
  position: relative;
}
.preview_blocks .preview_bl:nth-child(2) {
  width: calc(34.33% - 55px);
}
.preview_blocks .preview_bl a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.preview_blocks .preview_bl .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44.78632%;
  background: #151516 no-repeat -25px -30px / 106% auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.preview_blocks .preview_bl .img:after {
  position: absolute;
  content: "";
  height: 80%;
  bottom: 0;
  width: 100%;
  left: 0;
  opacity: 0;
  background-color: rgba(21, 21, 22, 0.65);
  background: -webkit-linear-gradient(90deg, #151516, transparent);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(90deg, #151516, transparent);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(90deg, #151516, transparent);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #151516, transparent);
  /* для IE10+ */
  background: linear-gradient(0deg, #151516, transparent);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.preview_blocks .preview_bl .text {
  position: relative;
  z-index: 2;
  padding-top: 297px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.preview_blocks .preview_bl h3 {
  margin-bottom: 20px;
  max-height: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.preview_blocks .preview_bl p {
  margin-bottom: 20px;
  color: #000000;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preview_blocks .preview_bl .more:after {
  background-image: url(images/arr_small_yellow.png);
  margin-left: 20px;
}
.preview_blocks .preview_bl:hover .img {
  width: 100%;
  height: 100%;
  background-position: 0px 0px;
}
.preview_blocks .preview_bl:hover .img:after {
  opacity: 1;
}
.preview_blocks .preview_bl:hover .text {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 490px;
}
.preview_blocks .preview_bl:hover h3, .preview_blocks .preview_bl:hover p {
  color: #fff;
}

.preview_blocks.services_blocks .preview_bl .text {
  max-width: 420px;
}
.preview_blocks.services_blocks .preview_bl p {
  margin-bottom: 36px;
}
.preview_blocks.services_blocks .preview_bl:nth-child(1):hover .img {
  width: 103%;
}
.preview_blocks.services_blocks .preview_bl:nth-child(3):hover .img {
  left: -3%;
}

.content .services_blocks {
  margin-bottom: 100px;
}

/* end services styles */
/* start about styles */
#about {
  z-index: 0;
  background: url(images/about_bg.jpg) no-repeat center top/cover;
  margin-bottom: 50px;
}
#about .in {
  color: #fff;
  height: 730px;
}
#about h2 {
  color: #fff;
  margin-bottom: 32px;
  position: relative;
  z-index: 2;
}
#about .bottom {
  position: absolute;
  bottom: 57px;
  width: 58.53816%;
  left: 14.10091%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#about .bottom:before, #about .bottom:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #f5cd4b;
}
#about .bottom:before {
  top: 11px;
  width: 2000px;
  right: calc(100% + 28px);
}
#about .bottom:after {
  bottom: 14px;
  right: 0;
  width: 66%;
}
#about .bottom .yellow {
  font-size: 29px;
  line-height: 25px;
  color: #f5cd4b;
  font-weight: 400;
  display: block;
  overflow: hidden;
}
#about .bottom .white {
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 800;
  opacity: 0.47;
  overflow: hidden;
  display: block;
}
#about .img {
  position: absolute;
  width: 38.80983%;
  height: 590px;
  bottom: -2px;
  left: 50%;
  margin-left: -20.3%;
  background: url(images/about_img.png) no-repeat center bottom/cover;
}
#about .facts {
  position: absolute;
  width: 27.36093%;
  right: 0;
  top: 130px;
}
#about .facts:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 514px;
  background-color: #f5cd4b;
  left: 0;
  top: 14px;
}
#about .facts li {
  position: relative;
  margin-bottom: 98px;
  padding-left: 195px;
}
#about .facts li:before {
  content: "";
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #f5cd4b;
  left: 0;
  top: 14px;
}
#about .facts li p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #f5cd4b;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
#about .facts li p strong {
  display: block;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: 3px;
}
#about .facts li .diagram {
  position: absolute;
  left: 32px;
  bottom: -23px;
  width: 192px;
  height: 48px;
  background: url(images/diagram_shadow.png) no-repeat center bottom;
}
#about .facts li .diagram div {
  height: 104px;
  width: 71px;
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-left: -35px;
  background: url(images/diagram_column1.png) no-repeat center bottom;
}
#about .facts li:nth-child(2) .diagram div {
  height: 84px;
  background-image: url(images/diagram_column2.png);
}
#about .facts li:nth-child(3) .diagram div {
  height: 116px;
  background-image: url(images/diagram_column3.png);
}
#about .text {
  padding-top: 162px;
  max-width: 380px;
  position: relative;
  z-index: 5;
}
#about .text:before {
  content: "";
  position: absolute;
  width: 183px;
  height: 183px;
  background: url(images/bg_patern_about.png) repeat left top;
  left: -136px;
  top: 41px;
}
#about .text p {
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

#about_page .advantages {
  margin-top: 85px;
  margin-bottom: 60px;
}
#about_page #projects .in {
  padding-top: 0px;
  padding-bottom: 40px;
}

/* end about styles */
/* start projects styles */
#projects .in {
  padding-top: 56px;
}
#projects h2 {
  margin-bottom: 46px;
}

.slider.projects_block {
  overflow: hidden;
  margin-bottom: 80px;
}
.slider.projects_block .slick-arrow {
  top: 12px;
  left: 0;
}
.slider.projects_block ul.slick-dots {
  top: 9px;
  left: 0;
  margin-left: 63px;
}

.slider_menu.projects_menu {
  padding-top: 78px;
  height: 550px;
}
.slider_menu.projects_menu:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: #fff;
  top: 0px;
  left: 0;
  z-index: 2;
}
.slider_menu.projects_menu .slider_menu_item {
  padding-left: 25px;
}
.slider_menu.projects_menu .slider_menu_item:after {
  left: 90%;
}

.slider_more.projects_more {
  margin-left: 22.66%;
}
.slider_more.projects_more .slider_more_item .img {
  height: 550px;
  width: 63%;
  text-align: left;
}
.slider_more.projects_more .slider_more_item .text {
  margin-left: 67%;
  padding-top: 122px;
}

/* end projects styles */
/* start content styles */
main.content {
  padding-top: 140px;
  padding-bottom: 80px;
}

#about_page .content {
  padding-top: 0px;
}
#about_page .content #top {
  background: url(images/about_page_bg.jpg) no-repeat center bottom/cover;
  color: #fff;
}
#about_page .content #top h1, #about_page .content #top h2, #about_page .content #top h3 {
  color: #fff;
}

#service_page .content {
  padding-top: 0px;
}
#service_page .content #top {
  background: url(images/service_page_bg.jpg) no-repeat center bottom/cover;
}

#top {
  padding-top: 140px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}
#top .text {
  max-width: 435px;
}
#top .button {
  margin-top: 30px;
}

.content.main_section .in {
  padding-top: 30px;
  padding-bottom: 97px;
}
.content.main_section .text {
  padding-top: 77px;
}
.content.main_section h2 {
  margin-bottom: 39px;
}

.bread_crumbs {
  position: relative;
  margin-bottom: 40px;
}
.bread_crumbs ul li {
  display: inline-block;
  padding-left: 19px;
  margin-right: 10px;
  position: relative;
}
.bread_crumbs ul li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 13px;
  left: 0;
  background-color: #f5cd4b;
}
.bread_crumbs ul li:first-child {
  padding-left: 0;
}
.bread_crumbs ul li:first-child:before {
  display: none;
}

.left, .right {
  max-width: calc(50% - 10px);
}
.left img, .right img {
  display: inline-block;
  max-width: 100%;
}

.left {
  float: left;
  margin: 5px 65px 50px 0;
}

.right {
  float: right;
  clear: right;
  margin: 5px 0 50px 65px;
}

.left + h2, .left + h3, .left + h4, .right + h2, .right + h3, .right + h4 {
  padding-top: 30px;
  margin-bottom: 30px;
}

.text ul {
  padding-bottom: 15px;
  overflow: hidden;
}
.text ul li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 5px;
}
.text ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 5px;
  height: 5px;
  background-color: #f5cd4b;
}
.text ol {
  list-style-type: none;
  counter-reset: ol_num;
  padding-left: 0;
  position: relative;
  z-index: 1;
  padding-bottom: 25px;
  overflow: hidden;
}
.text ol li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
}
.text ol li:before {
  position: absolute;
  left: 0;
  top: 0px;
  counter-increment: ol_num;
  content: counter(ol_num) ".";
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #f5cd4b;
}

.pagination {
  margin-bottom: 100px;
  text-align: center;
}
.pagination li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0 3px;
  padding: 0 6px;
}
.pagination li:before {
  display: none;
}
.pagination li a {
  display: block;
  line-height: 16px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
}
.pagination li a:hover {
  color: #ffc300;
}
.pagination li a.active {
  border-bottom: 1px solid;
}
.pagination li.pag-ar a {
  text-indent: -10000px;
  position: relative;
  background: none;
  width: 15px;
}
.pagination li.pag-ar a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -8px;
  width: 15px;
  height: 15px;
  vertical-align: -1px;
  background: url(images/arr_small_black.png) no-repeat center;
  z-index: 2;
  border: 2px solid;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pagination li.pag-ar a:hover:before {
  background-image: url(images/arr_small_orange.png);
}
.pagination li.prev a:before {
  transform: rotate(180deg);
}

.table {
  padding-bottom: 100px;
}
.table table {
  min-width: 100%;
}
.table tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
.table th {
  background-color: #33383c;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 15px 50px;
  text-align: left;
}
.table td {
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 50px;
}
.table td:last-child {
  text-transform: none;
}
.table td.color {
  background-color: #f0f0f0;
  width: 38%;
}

/* end projects styles */
/* start contacts styles */
.text.contacts {
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.text.contacts:after {
  display: inline-block;
  content: '';
  width: 95%;
  height: 0px;
  line-height: 0;
}
.text.contacts a {
  color: #000000;
}
.text.contacts a:hover {
  color: #ffc300;
}

.cont {
  display: inline-block;
  vertical-align: middle;
  padding-left: 45px;
  background: no-repeat left 4px;
}
.cont.tel {
  background-image: url(images/icon_tel_yellow.png);
}
.cont.fax {
  background-image: url(images/icon_fax_yellow.png);
}
.cont.address {
  background-image: url(images/icon_address_yellow.png);
}
.cont.email {
  background-image: url(images/icon_email_yellow.png);
}
.cont.from_center {
  background-image: url(images/icon_car_yellow1.png);
}
.cont.from_area {
  background-image: url(images/icon_car_yellow2.png);
}
.cont.afoot {
  background-image: url(images/icon_afoot_yellow.png);
}

#map {
  float: left;
  width: 62.7%;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  height: 590px;
}

.cont_links {
  width: 62.7%;
  float: left;
  text-align: justify;
  font-weight: 600;
  letter-spacing: 1px;
}
.cont_links:after {
  display: inline-block;
  content: '';
  width: 95%;
  height: 0px;
  line-height: 0;
}
.cont_links h4 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.cont_links a {
  color: #000000;
}
.cont_links a:hover {
  color: #f5cd4b;
}
.cont_links .cont {
  padding-left: 55px;
}

.right_block {
  margin-left: 65.3%;
  background: #33383c url(images/right_block_bg.jpg) no-repeat center/cover;
  min-height: 648px;
  box-sizing: border-box;
  color: #fff;
  padding: 95px 45px 32px 55px;
}
.right_block h2, .right_block h3, .right_block h4, .right_block h5, .right_block h6 {
  color: #fff;
}
.right_block .form_block form {
  margin-right: -15px;
}
.right_block .form_block input {
  margin-bottom: 28px;
}
.right_block .form_block .email {
  width: calc(100% - 20px);
}
.right_block .form_block textarea {
  margin-bottom: 28px;
}
.right_block .form_block .check {
  width: auto;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 0px;
  padding-left: 25px;
  padding-top: 3px;
  margin-bottom: 28px;
}
.right_block .how_to_get h5 {
  font-weight: 400;
  padding: 10px 0 0 45px;
  position: relative;
  margin-bottom: 30px;
}
.right_block .how_to_get h5:before, .right_block .how_to_get h5:after {
  content: "";
  position: absolute;
  left: 0;
}
.right_block .how_to_get h5:before {
  height: 25px;
  width: 1px;
  background: #f5cd4b;
  top: 2px;
}
.right_block .how_to_get h5:after {
  height: 1px;
  width: 22px;
  background: #f5cd4b;
  top: 26px;
}
.right_block .how_to_get .accordion > div {
  padding: 0 0 30px 45px;
}

/* end contacts styles */

/*# sourceMappingURL=template_styles.css.map */
