/* start about styles */ 

#about {
    z-index: 0;
    background: url(images/about_bg.jpg) no-repeat center top / cover;
    margin-bottom: 50px;
    
    .in {
	//padding-top: 50px;
	color: #fff;
	height: 730px;
    }
    
    h2 {
	color: #fff;
	margin-bottom: 32px;
	position: relative;
	z-index: 2;
    }
    
    .bottom {
	position: absolute;
	bottom: 57px;
	width: 905/1546*100%;
	left: 218/1546*100%;
	font-family: $font_family_h;
	text-transform: uppercase;
	
	
	&:before, &:after {
	    content: '';
	    position: absolute;
	    //width: 100%;
	    height: 1px;
	    background-color: $color_a;
	}
	&:before {
	    top: 11px;
	    width: 2000px;
	    right: calc(100% + 28px);
	}
	&:after {
	    bottom: 14px;
	    right: 0;
	    width: 66%;
	}
	
	.yellow {
	    font-size: 29px;
	    line-height: 25px;
	    color: $color_a;
	    font-weight: 400;
	    display: block;
	    overflow: hidden;
	}
	.white {
	    font-size: 50px;
	    line-height: 50px;
	    color: #fff;
	    font-weight: 800;
	    opacity: 0.47;
	    overflow: hidden;
	    display: block;
	}
    }
    
    .img {
	position: absolute;
	width: 600/1546*100%;
	height: 100%;;
	bottom: -2px;
	left: 50%;
	margin-left: -20.3%; //-340px;
	background: url(images/about_img.png) no-repeat center bottom / 100% auto;
    }
    
    .facts {
	//float: right;
	position: absolute;
	width: 423/1546*100%;
	right: 0;
	top: 130px;
	
	&:before {
	    content: "";
	    position: absolute;
	    width: 1px;
	    height: 514px;
	    background-color: $color_a;
	    left: 0;
	    top: 14px;
	}
	
	li {
	    position: relative;
	    margin-bottom: 98px;
	    padding-left: 195px;
	    
	    &:before {
		content: "";
		position: absolute;
		width: 55px;
		height: 1px;
		background-color: $color_a;
		left: 0;
		top: 14px;
	    }
	    
	    p {
		font-family: $font_family_h;
		text-transform: uppercase;
		color: $color_a;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		
		strong {
		    display: block;
		    color: #fff;
		    font-size: 50px;
		    font-weight: 800;
		    line-height: 41px;
		    letter-spacing: 3px;
		}
	    }
	    
	    .diagram {
		position: absolute;
		left: 32px;
		bottom: -23px;
		width: 192px;
		height: 48px;
		background: url(images/diagram_shadow.png) no-repeat center bottom;
		
		div {
		    height: 104px;
		    width: 71px;
		    position: absolute;
		    bottom: 17px;
		    left: 50%;
		    margin-left: -35px;
		    background: url(images/diagram_column1.png) no-repeat center bottom;
		}
	    } 
		
		&:nth-child(2) .diagram div {
		    height: 84px;
		    background-image: url(images/diagram_column2.png);
		}
		&:nth-child(3) .diagram div {
		    height: 116px;
		    background-image: url(images/diagram_column3.png);
		}
	}
    }
    
    .text {
	padding-top: 162px;
	max-width: 380px;
	position: relative;
	z-index: 5;
	
	&:before {
	    content: "";
	    position: absolute;
	    width: 183px;
	    height: 183px;
	    background: url(images/bg_patern_about.png) repeat left top;
	    left: -136px;
	    top: 41px;
	    }
	
	p {
	    margin-bottom: 50px;
	    position: relative;
	    z-index: 2
	}
    }
    
}

#about_page {
    .advantages {
	margin-top: 85px;
	margin-bottom: 60px;
    }
    
    #projects {
	.in {
	    padding-top: 0px;
	    padding-bottom: 40px;
	}
    }
}




@media screen and (max-width: 1600px) {
    #about {
	.in {
	    height: 655px;
	}
	h2 {
	    margin-bottom: 30px;
	}
	.bottom {
	    bottom: 50px;
	    width: 60.9%;
	    left: 10%;
	    
	    &:before {
		right: calc(100% + 25px);
		bottom: 63px;
		top: auto;
	    }
	    &:after {
		bottom: 17px;
		width: 60%;
	    }
	    .yellow {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 9px;
	    }
	    
	    .white {
		font-size: 35px;
		line-height: 40px;
		letter-spacing: 3px;
	    }
	}
	.img {
	    width: 44.7%;
	    margin-left: -26.6%;
	}
	.facts {
	    width: 29.2%;
	    top: 91px;
	    
	    &:before {
		height: 483px;
		top: 14px;
	    }
	    
	    li {
		padding-left: 186px;
		margin-bottom: 84px;
		&:before {
		    width: 50px;
		}
		
		.diagram {
		    left: 25px;
		    bottom: -17px;
		}
		
		p {
		    font-size: 16px;
		    line-height: 33px;
		    
		    strong {
			font-size: 36px;
			line-height: 41px;
			letter-spacing: 3px;
		    }
		}
	    }
	}
	.text {
	    padding-top: 125px;
	    max-width: 380px;
	    
	    &:before {
		width: 171px;
		height: 171px;
		background-size: 14px auto;
		left: -26px;
		top: 30px;
		}
	    
	    p {
		line-height: 28px;
		margin-bottom: 75px;
	    }
	}
    }
}

@media screen and (max-width: 1350px) {
    #about {
	.bottom {
	    width: 58.9%;
	    
	    &:after {
		width: 55%;
	    }
	}
	.img {
	    width: 42.7%;
	    margin-left: -26.6%;
	}
	.facts {
	    width: 31.2%;
	    
	    &:before {
		height: 483px;
		top: 14px;
	    }
	    
	    li {
		padding-left: 150px;
		margin-bottom: 84px;
		&:before {
		    width: 35px;
		}
		
		.diagram {
		    left: -5px;
		    bottom: -17px;
		}
	    }
	}
    }
}
@media screen and (max-width: 1100px) {
    #about {
	.bottom {
	    width: 49%;
	    
	    &:after {
		width: calc(100% - 260px);
	    }
	}
	.img {
	    display: none;
	}
	.facts {
	    width: 41%;
	}
    }
}

@media screen and (max-width: 800px) {
    #about {
	margin-bottom: 0;
	.in {
	    height: auto;
	    padding-bottom: 10px;
	}
	h2 {
	    margin-bottom: 32px;
	    text-align: left
	}
	.bottom {
	    display: none;
	}
	.facts {
	    width: auto;
	    position: relative;
	    top: 0;
	    padding-top: 78px;
	    
	    &:before {
		display: none;
	    }
		
	    li {
		padding-left: 130px;
		margin-bottom: 65px;
		
		&:nth-child(2) {
		    margin-bottom: 90px;
		}
		&:last-child {
		    margin-bottom: 30px;
		}
		&:before {
		    display: none;
		}
		.diagram {
		    left: -30px;
		    bottom: -17px;
		}
		p {
		    line-height: 20px;
		    font-size: 14px;
		    strong {
			font-size: 26px;
			letter-spacing: 1px;
		    }
		}
	    }
	}
	
	.text {
	    padding-top: 52px;
	    max-width: 380px;
	    text-align: center;
	    
	    &:before {
		width: 104px;
		height: 104px;
		background-size: 8px auto;
		left: 0px;
		top: 7px;
	    }
	    
	    p {
		line-height: 24px;
		margin-bottom: 26px;
		text-align: left;
	    }
	}
    }
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end about styles */