/* start content styles */ 

.content.main_section {
    .in {
	padding-top: 30px;
	padding-bottom: 97px;
    }
    
    .text {
	padding-top: 77px;
    }
    
    h2 {
	margin-bottom: 39px;
    }
}


.left, .right {
    max-width: 45%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 5px 30px 20px 0;
}
.right {
    float: right;
    clear: right;
    margin: 5px 0 20px 30px;
}







@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px) {
    
}
@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end projects styles */