/* start main slide styles */ 

#main_slide {
    overflow: visible;
    background: #222222 url(images/main_slide_bg.jpg) no-repeat center / cover;
    margin-bottom: 94px;
    
    .in {
	//height: 100%;
	padding-top: 140px;
    }
    .text {
	color: #fff;
	//width: 45%;
	position: relative;
	padding-bottom: 1px;
	z-index: 2;
	//top: 271/954*100%;
	//height: 100% - 271/954*100%;
	//@include transition_slow(all);
    }
    h1 {
	letter-spacing: 1.1px;
	line-height: 55px;
	color: #fff;           
	max-width: 1000px;
	margin-bottom: 41px;
	//@include transition_slow(all);
    }
    
    .button {
	min-width: 173px;
	margin-bottom: 72px;
    }
    
    h4 {
	color: $color_a;
	max-width: 51.9%;
	padding-top: 14px;
	margin-left: 5px;
	border-top: 1px solid $color_a;
	margin-bottom: 15px;
    }
    .activity{
	font-size: 0;
	line-height: 0;
	margin-left: -80px;
	margin-bottom: -90px;
	
	.item {
	    font-size: 16px;
	    line-height: 30px;
	    display: inline-block;
	    vertical-align: top;
	    width: 33.3%;
	    box-sizing: border-box;
	    
	    &:nth-child(1) {
		width: 31.5%;
		a {
		    padding-left: 80/515*100%; 
		}
	    }
	    &:nth-child(2) {
		width: 36.9%;
		a {
		    padding-left: 70/515*100%; 
		}
	    }
	    &:nth-child(3) {
		width: 31.5%;
		a {
		    padding-left: 80/515*100%; 
		}
	    }
	    
	    a {
		color: #fff;
		box-sizing: border-box;
		display: block;
		padding: 79px 20/515*100% 40px;
		height: 495px;
		//border: 1px solid red;
		position: relative;
		@include transition(all);
	    }
	    
	    h3 {
		color: #fff;
		letter-spacing: 0.7px;
		margin-bottom: 33px;
		@include transition(all);
	    }
	    
	    .exam {
		font-family: $font_family_h;
		font-weight: 400;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		position: relative;
		padding-left: 44px;
		padding-top: 34px;
		position: absolute;
		max-width: 80%;
		box-sizing: border-box;
		@include transition(all);
		
		&:before, &:after {
		    content: "";
		    position: absolute;
		    left: 0;
		}
		
		&:before {
		    height: 25px;
		    width: 1px;
		    background: $color_a;
		    top: 26px;
		}
		&:after {
		    height: 1px;
		    width: 22px;
		    background: $color_a;
		    top: 50px;
		}
	    }
	    
	    .mob {
		display: none;
	    }
	    
	    .hover_text {
		overflow: hidden;
		opacity: 0;
		line-height: 22px;
		padding-right: 20%; 
		color: #816e32;
		@include transition(all);
		
		p {
		    max-height: 175px;
		    overflow: hidden;
		    margin-bottom: 46px;
		}
		.more {
		    //font-weight: 400;
		    color: #1d1d1d;
		}
		.more:after {
		    border: 2px solid #1d1d1d;
		    background-image: url(images/arr_small_black.png);
		}
	    }
	    
	    &.active, &:hover {
		a{
		    background-color: $color_a;
		}
		
		h3 {
		    color: #1d1d1d;
		}
		
		.exam {
		    opacity: 0;
		}
		
		.hover_text {
		    opacity: 1; 
		    .more:after {
			margin-left: 18px;
		    }
		}
		
	    }
	    
	}
    }
    

}

@media screen and (max-width: 1400px) {
    #main_slide {
	margin-bottom: 110px;
	.in {
	    padding-top: 115px;
	}
	
	h1 {
	    letter-spacing: 0.8px;
	    line-height: 51px;
	    font-size: 30px;
	    max-width: 800px;
	    margin-bottom: 37px;
	}
	.button {
	    min-width: 165px;
	    margin-bottom: 59px;
	}
	
	.activity{
	    margin-bottom: -110px;
	    margin-left: -56px;
	    .item {
		font-size: 14px;
		line-height: 30px;
		a {
		    padding: 48px 20/515*100% 40px;
		    height: 470px;
		}
		h3 {
		    margin-bottom: 30px;
		}
		.hover_text {
		    padding-right: 6%;
		    line-height: 21px;
		    p {
			max-height: 195px;
			overflow: hidden;
			margin-bottom: 45px;
		    }
		}
		&:nth-child(3) {
		    a {
			padding-left: 70/515*100%; 
		    }
		}
		&:nth-child(1) {
		    width: 29.1%;
		}
		&:nth-child(2) {
		    width: 35.9%;
		}
	    }
	}
    }
}

@media screen and (max-width: 1200px) {
    #main_slide {
	h1 {
	    line-height: 50px;
	}
	
	.activity{
	    margin-bottom: -110px;
	    margin-left: 0px;
	    
	    .slick-arrow {
		top: 145px;
		&:before {
		    background: url(images/arr_small_white2.png) no-repeat center;
		}
	    }
	    
	    .item {
		a {
		    padding: 60px 70/515*100% 40px;
		    height: 470px;
		}
		h3 {
		    margin-bottom: 30px;
		}
		.hover_text {
		    p {
			max-height: 195px;
		    }
		}
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
		    width: 33.3%;
		    a {
			padding-left: 70/515*100%; 
		    }
		}
	    }
	}
    }
}
@media screen and (max-width: 1030px) {
    #main_slide {
	h1 {
	    line-height: 45px;
	    font-size: 25px;
	}
	
	.activity{
	    margin-bottom: 0px;
	    
	    
	    .item {
		a {
		    padding: 40px 50/515*100% 40px;
		    height: 390px;
		    text-align: left;
		}
		h3 {
		    margin-bottom: 20px;
		}
		.exam {
		    padding-left: 20px;
		    padding-top: 0px;
		    max-width: 90%;
		    
		    &:before {
			height: 5px;
			width: 5px;
			top: 12px;
		    }
		    &:after {
			display: none;
		    }
		}
		
		.hover_text {
		    padding-right: 0%;
		    opacity: 1;
		    color: #fff;
		    padding-top: 95px;
		    
		    p {
			display: none;
		    }
		    .more {
			color: #fff;
			
			&:after {
			    border-color: #fff;
			    background-image: url(images/arr_small_white.png);
			}
		    }
		}
		
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
		    a {
			padding-left: 50/515*100%; 
		    }
		}
	    }
	}
    }
}

@media screen and (max-width: 800px) {
    #main_slide {
	    text-align: center;
	h1 {     
	    line-height: 40px;
	}
	.button {
	    margin-bottom: 50px;
	}
    }
}
@media screen and (max-width: 600px) {
    #main_slide {
	margin-bottom: 30px;
	height: 498px;
	.in {
	    padding-top: 77px;
	}
	h1 {
	    font-size: 20px;
	    line-height: 30px;
	    margin-bottom: 13px;
	}
	.button {
	    margin-bottom: 23px;
	}
	
	h4 {
	    max-width: 86.9%;
	    margin-left: 0px;
	    margin-bottom: 15px;
	    font-size: 14px;
	    text-align: left;
	    letter-spacing: -0.3px;
	}
	.activity{
	    .slick-arrow {
		top: 74px;
	    }
	    .item {
		a {
		    padding: 0px 35/515*100% 40px 55/515*100%;
		    height: 236px;
		}
		
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
		    a {
			padding-left: 55/515*100%; 
		    }
		}
	    }
	}
    }
}

@media screen and (max-width: 450px) {
    #main_slide {
	
    }
}

/* end main slider styles */