/* start projects styles */ 

#projects {
    .in {
	padding-top: 56px;
    }
    
    h2 {
	margin-bottom: 46px;
    }
}


.slider.projects_block {
    overflow: hidden;
    margin-bottom: 80px;
    
    .slick-arrow {
	top: 12px;
	left: 0;
    }
    ul.slick-dots {
	top: 9px;
	left: 0;
	margin-left: 63px;
    }
}

.slider_menu.projects_menu {
    padding-top: 78px;
    height: 550px;
    
    &:before {
	content: "";
	position: absolute;
	height: 80px;
	width: 100%;
	background-color: #fff;
	top: 0px;
	left: 0;
	z-index: 2;
    }
    
    .slider_menu_item {
	padding-left: 25px;
	
	&:after {
	    left: 90%;
	}
    }
}

.slider_more.projects_more {
    margin-left: 22.66%;
    .slider_more_item {
	.img {
	    height: 550px;
	    width: 63%;
	    text-align: left;
	}
	
	.text {
	    margin-left: 67%;
	    padding-top: 122px;
	}
    }
}

.galery {
    position: relative;
    width: calc(50% - 20px);
    margin-bottom: 55px;
    height: 550px;
    
    div {
	width: 100%;
	height: 100%;
    }
    a {
	display: block;
	width: 100%;
	height: 100%;
	//cursor: crosshair;
    }
	    
    img {
	vertical-align: middle;
	display: inline;
	object-fit: cover;
	width: 100%;
	height: 100%;
	cursor: crosshair;
    }
    
    ul.slick-dots {
	text-align: center;
	width: 100%;
	top: auto;
	bottom: 20px;
	left: 0%;
	margin-left: 0;
	z-index: 2;
	list-style-type: none;
	
	li {
	    display: inline-block;
	    position: relative;
	    width: auto;
	    margin-right: 8px;
	    margin-left: 8px;
	    font-size: 10px;
	    line-height: 12px;
	    text-align: center;
	    opacity: 1;
	    cursor: pointer;
	    
	    &:before {
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background-color: $color_a;
	    }
	    
	    &:hover {
		&:before {
		    background-color: $color_a_hover;
		}
	    }
	   
	    
	    &.slick-active {
		&:before {
		    background-color: #fff;
		}
	    }
	    
	    button {
		display: none;
	    }
	}
    }
}



@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px) {
    
}
@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end projects styles */