/* start promotions styles */ 

#promotions {
    z-index: 0;
    
    .in {
	padding-top: 76px;
	padding-bottom: 27px;
	//margin-top: 1000px;
    }
    
    h2 {
	margin-bottom: 46px;
    }
}

.promotions_block {
    height: 600px;
}


.slider {
    position: relative;
    
    .slick-arrow {
	top: 39px;
	left: 500/1120*100%;
	
	&.slick-next {
	    margin-left: 229px;
	}
	
    }
    
}

.slider_menu {
    width: 330/1546*100%;
    float: left;
    padding-top: 53px;
    font-family: $font_family_h;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    
    .slick-list {
	overflow: visible; 
    }
    
    .slider_menu_item {
	margin-bottom: 33px; // 58px;
	height: 62px;
	cursor: pointer;
	position: relative;
	@include transition(all);
	
	&:hover {
	    color: $color_a;
	}
	
	    &:after {
		content: "";
		position: absolute;
		left: 100%;
		top: 16px;
		width: 50%;
		height: 1px;
		background-color: $color_a_hover;
		opacity: 0;
		@include transition(all);
	    }
	
	&.slick-current {
	    color: $color_a_hover;
	    
	    &:after {
		opacity: 1;
	    }
	}
    }
}

.slider_more {
    margin-left: 430/1546*100%;
    .slider_more_item {
	  
	.img {
	    text-align: center;
	    height: 510px;
	    width: 440/1120*100%;
	    float: left;
	    overflow: hidden;
	    
	    img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: inline-block;
		vertical-align: middle;
	    }
	}
	
	.text {
	    margin-left: 509/1120*100%;
	    padding-top: 141px;
	}
	
	
	h3 {
	    margin-bottom: 23px;
	    letter-spacing: 1px
	}
	P {
	    margin-bottom: 43px;
	}
    }
    
}

.more_text_link {
    
    .link {
	color: $color_a;
	font-weight: 600;
	text-decoration: underline;
	cursor: pointer;
	
	&:hover {
	    text-decoration: none;
	}
    }
}
.more_text_block {
    display: none;
    //overflow: visible !important;
    clear: left;
    padding-bottom: 20px;
}

.prev_next {
    margin-top: 70px;
    font-weight: 600;
    margin-bottom: 55px;
    
    a {
	color: #bd9515;
    }
    
    .prev {
	margin-right: 50px;
	&:before {
	    content: '';
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    border: 2px solid ;
	    border-radius: 15px;
	    margin-right: 18px;
	    vertical-align: -5px;
	    background: url(images/arr_small_orange.png) no-repeat center;
	    transform: rotate(-180deg)
;	}
    }
    .next {
	&:after {
	    content: '';
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    border: 2px solid ;
	    border-radius: 15px;
	    margin-left: 18px;
	    vertical-align: -5px;
	    background: url(images/arr_small_orange.png) no-repeat center;
;	}
    }
}

.project_description {
    padding-bottom: 25px;
    p {
	position: relative;
	margin-bottom: 5px;
	
	em {
	    display: inline-block;
	    width: 215px;
	    color: #7f7f7f;
	    font-style: normal;
	}
    }
}

h3.clear {
    padding-top: 50px;
}


@media screen and (max-width: 1600px) {
    #promotions {
	
	
    }
}

@media screen and (max-width: 1400px) {
    #promotions {
	.in {
	    padding-top: 1px;
	    padding-bottom: 77px;
	}
    }
    .promotions_block {
	height: 496px;
    }
    
    .slider {
	
	.slick-arrow {
	    top: 13px;
	    left: 61.2%;
	    
	    &.slick-next {
		margin-left: 205px;
	    }
	    
	}
	
    }
    
    .slider_menu {
	padding-top: 23px;
	font-size: 16px;
	line-height: 25px;
	
	.slider_menu_item {
	    margin-bottom: 23px; // 58px;
	    height: 62px;
	}
    }
    
    .slider_more {
	margin-left: 27.1%;
	.slider_more_item {
	      
	    .img {
		height: 428px;
		width: 53.7%;
	    }
	    
	    .text {
		margin-left: 61.2%;
		padding-top: 57px;
	    }
	    
	    
	    h3 {
		margin-bottom: 23px;
		letter-spacing: 1px
	    }
	    P {
		margin-bottom: 43px;
		line-height: 27px;
		max-height: 185px;
		overflow: hidden;
	    }
	}
	
    }

}
@media screen and (max-width: 1000px) {
    #promotions {
	
    }
}

@media screen and (max-width: 800px) {
    #promotions {
	
    }
    
    .slider_menu {
	display: none;
    }
    
    .slider_more {
	margin-left: 0%;
	.slider_more_item {
	      
	    .img {
		height: 428px;
		width: 48%;
	    }
	    
	    .text {
		margin-left: 52%;
		padding-top: 57px;
	    }
	    
	    
	    h3 {
		margin-bottom: 23px;
		letter-spacing: 1px
	    }
	    P {
		margin-bottom: 43px;
		line-height: 27px;
		max-height: 185px;
		overflow: hidden;
	    }
	}
	
    }
}
@media screen and (max-width: 600px) {
    #promotions {
	h2 {
	    margin-bottom: 38px;
	}
    }
    .promotions_block {
	height: 360px;
    }
    .slider {
	.slick-arrow {
	    top: 13px;
	    left: 50px;
	    
	    &.slick-next {
		margin-left: 200px;
	    }
	}
    }
    .slider_more {
	.slider_more_item {
	      
	    .img {
		display: none;
	    }
	    
	    .text {
		margin-left: 0;
		padding-top: 65px;
		//padding-left: 14px;
		//padding-right: 14px;
		text-align: center;
		
		
		h3 {
		    font-size: 15px;
		    margin-bottom: 10px;
		}
		p{
		    text-align: left;
		    line-height: 24px;
		    max-height: 215px;
		    margin-bottom: 25px;
		}
	    }
	}
	
    }
}

@media screen and (max-width: 450px) {
    #promotions {
	
    }
}

/* end promotions styles */