/* start production styles */ 

#production {
    z-index: 0;
    //background: #ebfbfe url(images/main_slide_bg.jpg) no-repeat center / cover;
    
    .in {
	padding-top: 35px;
	padding-bottom: 80px;
	//margin-top: 1000px;
    }
    
    h2 {
	margin-bottom: 46px;
    }
}


.production_block {
    position: relative;
    
    &:after {
	@include clear();
    }
    
    .prod_item {
	float: left;
	width: 20%;
	height: 563px;
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	background: url(images/production_bg.png) no-repeat center top / auto 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	
	&:before {
	    content: '';
	    position: absolute;
	    z-index: 0;
	    width: 215px;
	    height: 216px;
	    margin-left: -107px;
	    left: 50%; 
	    top: 119px;
	    background-color: $color_a;
	    border-radius: 110px;
	}
	
	a {
	    display: block;
	    position: relative;
	    height: 100%;
	    padding-top: 1px;
	}
	
	.bg {
	    height: 100%;
	    width: 100%;
	    background: no-repeat center top / auto 100%;
	    position: absolute;
	    z-index: 0;
	    opacity: 0;
	    @include transition(opacity);
	    
	    /*&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: url(images/production_grad.png) no-repeat center top;
		opacity: 0.7;
	    }*/
	}
	
	.img {
	    height: 330px;
	    width: 100%;
	    text-align: center;
	    position: relative;
	    margin-top: 23px;
	    margin-bottom: 51px;
	    z-index: 2;
	    
	    img {
		margin: 0 -50px;
		display: inline-block;
	    }
	}
	
	h4 {
	    font-weight: 400;
	    color: $color_a;
	    height: 58px;
	    line-height: 30px;
	    position: relative;
	    z-index: 2;
	    
	    max-width: 250px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.more {
	    position: relative;
	    z-index: 2;
	    color: #fff;
	}
	.more:after {
	    margin-left: 20px;
	    background-image: url(images/arr_small_white.png);
	}
	
	&:hover{
	    .bg {
		opacity: 1;
	    }
	
	    .more {
		color: $color_a;
	    }
	    .more:after {
		margin-left: 20px;
		background-image: url(images/arr_small_yellow.png);
	    }
	}
    }
}

.content .production_block {
    margin-bottom: 100px;
}


.catalog {
    position: relative;
    margin-bottom: 100px;
    
    &:after {
	@include clear();
    }
    
    .catalog_item {
	float: left;
	margin: 0 2.5% 10px;
	width: 19.99%;
	max-width: 308px;
	height: 563px;
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	//background: url(images/production_bg.png) no-repeat center top;
	position: relative;
	text-align: center;
	
	&:after {
	    content: '';
	    position: absolute;
	    z-index: 0;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    background: url(images/catalog_hover_bg.png) no-repeat center top;
	    opacity: 0;
	    //@include transition(opacity);
	}
	
	a {
	    display: block;
	    position: relative;
	    height: 100%;
	    padding-top: 1px; 
	    
	    &:before {
		content: '';
		position: absolute;
		z-index: 0;
		width: 215px;
		height: 216px;
		margin-left: -107px;
		left: 50%; 
		top: 118px;
		background-color: $color_a;
		border-radius: 110px;
		z-index: 1;
	    }
	}
	
	
	.img {
	    height: 311px; //311px;
	    width: 100%;
	    text-align: center;
	    position: relative;
	    margin-top: 23px;
	    margin-bottom: 51px;
	    z-index: 2;
	    overflow: hidden;
	    
	    &:before {
		content: '';
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 216px;
		left: 0; 
		bottom: 0px;
		background: url(images/catalog_hidden.png) no-repeat center bottom;
		//@include transition(opacity);
	    }
	    
	    &:after {
		content: '';
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 216px;
		left: 0; 
		bottom: 0px;
		background: url(images/catalog_hidden_hover.png) no-repeat center bottom;
		//border-radius: 110px;
		opacity: 0;
		//@include transition(opacity);
	    }
	    
	    img {
		margin: 0 -50px;
		position: relative;
		z-index: 3;
		display: inline-block;
	    }
	}
	
	h4 {
	    font-weight: 400;
	    //color: $color_a;
	    height: 85px;
	    max-width: 235px;
	    overflow: hidden;
	    line-height: 30px;
	    position: relative;
	    z-index: 2;
	    margin: 0 auto 40px;
	    @include transition(all);
	    
	}
	.more {
	    position: relative;
	    z-index: 2;
	    color: $color_a;
	    opacity: 0;
	    @include transition(opacity);
	}
	.more:after {
	    margin-left: 20px;
	    background-image: url(images/arr_small_yellow.png);
	}
	
	&:hover{
	    &:after {
		opacity: 1;
	    }
	    .img {
		&:before {
		    opacity: 0;
		}
		&:after {
		    opacity: 1;
		}
	    }
	    h4 {
		color: #fff;
	    }
	    .more {
		opacity: 1;
	    }
	}
    }
}

.catalog.slider {
    padding: 0 50px;
    margin-bottom: 20px;
    
    .catalog_item {
	margin: 0 25px 10px;
	width: auto;
	max-width: none;
    }
    
    .slick-arrow {
	top: 50%;
	margin-top: -15px;
	left: 0;
	
	&.slick-next {
	    margin-left: 0;
	    right: 0;
	    left: auto;
	}
	
    }
}


.products_images {
    float: left;
    width: 420px;
    position: relative;
    padding-bottom: 55px;
    margin-right: 40px;
	
    .main_img {
	height: 410px;
	line-height: 410px;
	margin-right: 25px;
	width: 300px;
	text-align: center;
	background-color: #f0f0f0;
	overflow: hidden;
	float: left;
	    
	.slick-list {
	    margin: 0px;
	    position: relative;
	    width: 100%;
	    height:  100%;
	}
	    
	div {
	    height: 100%;
	    width: 100%;
	}
	
	a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    cursor: crosshair;
	}
	    
	img {
	    vertical-align: middle;
	    display: inline;
	    object-fit: contain;
	    max-width: 100%;
	    max-height: 100%;
	    cursor: crosshair;
	}
    }
    .small_images {
	width: 90px;
        height: 410px;
        position: relative;
        margin-left: 330px;
        padding-top: 40px;
        
        .slick-list {
    	margin: 0px;
        }
    }
    
    .img_small {
        width: 90px;
        height: 100px;
        line-height: 105px;
        margin-bottom: 10px;
        cursor: pointer;
        //opacity: 0.5;
        overflow: hidden;
        text-align:  center;
        background-color: #f0f0f0;
        @include transition_slow(opacity);
        
        //&:hover {
    	//opacity: 1;
        //}
        
        //&.slick-current {
    	//opacity: 1;
    	//border-right: 3px solid $color_a;
        //}
        
        img {
	    width: 90%;
	    height: 90%; 
	    object-fit: contain;
	    display: inline-block;
	    vertical-align: middle;
	}
    }
    
    .slick-arrow {
	//top: 50%;
	left: 50%;
	margin-left: -15px;
	
	&.slick-prev {
	    margin-top: 0;
	    top: 0;
	    transform: rotate(90deg);
	}
	&.slick-next {
	    right: auto;
	    top: auto;
	    bottom: 0;
	    transform: rotate(90deg);
	}
    }
}

.text.description {
    clear: left;
}
    
.text.characteristics {
    margin-left: 460px;
    margin-bottom: 30px;
}
.text.order {
    max-width: 455px;
    margin-left: 460px;
}
.char_block {
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 50px; 
    -moz-column-gap: 50px;
    column-gap: 50px;
    
    .char_item {
	border-bottom: 1px solid $color_a;
	height: 15px;
	margin-bottom: 38px;
	text-align: right;
	line-height: 20px;
	
	em {
	    background-color: #fff;
	    padding-right: 15px;
	    float: left;
	}
	
	strong {
	    background-color: #fff;
	    padding-left: 15px;
	}
    }
}

.feature {
    position: relative;
    clear: both;
    margin-left: -3%;
    padding-bottom: 90px;
    
    .feature_item {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: 3%;
	
	h5 {
	    font-weight: 400;
            padding: 15px 0 0 45px;
            position: relative;
            margin-bottom: 20px;
            
            &:before, &:after {
		content: "";
		position: absolute;
		left: 0;
	    }
		
	    &:before {
		height: 25px;
		width: 1px;
		background: $color_a;
		top: 2px;
	    }
	    &:after {
		height: 1px;
		width: 22px;
		background: $color_a;
		top: 26px;
	    }
	}
	p {
	    line-height: 23px;
	    margin-bottom: 15px;
	}
	
	.note {
	    opacity: 0.65;
	}
    }
}



@media screen and (max-width: 1600px) {
    
    .catalog.slider {
	max-width: 1400px;
    }
}
@media screen and (max-width: 1500px) {
    
    .catalog.slider {
	max-width: 1300px;
    }
}

@media screen and (max-width: 1400px) {
    #production {
	.in {
	    padding-top: 0px;
	    padding-bottom: 70px;
	}
	
	h2 {
	    margin-bottom: 46px;
	}
    }
    .production_block {
	padding: 0 70px;
	
	.prod_item {
	    height: 500px;
	    background-size: auto 103%;
	    
	    &:before {
		width: 195px;
		height: 196px;
		margin-left: -97px;
		top: 101px;
	    }
	    .bg {
		background-position: center -10px;
		background-size: auto 103%;
	    }
	    
	    .img {
		height: 285px;
		margin-top: 27px;
		margin-bottom: 51px;
		
		img {
		    height: 100%;
		}
	    }
	    
	    h4 {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 25px;
	    }
	}
    }
    
    .catalog.slider {
	max-width: 1200px;
    }
}
@media screen and (max-width: 1300px) {
    
    .catalog.slider {
	max-width: 1100px;
    }
}
@media screen and (max-width: 1200px) {
    .production_block {
	padding: 0 60px;
    }
    .catalog.slider {
	max-width: 1000px;
    }
}
@media screen and (max-width: 1100px) {
    .catalog.slider {
	max-width: 900px;
    }
}
@media screen and (max-width: 1000px) {
    .catalog.slider {
	max-width: 800px;
	padding: 0 30px;
    }
}
@media screen and (max-width: 900px) {
    .catalog.slider {
	max-width: 700px;
    }
}
@media screen and (max-width: 800px) {
    .catalog.slider {
	max-width: 600px;
    }
}
@media screen and (max-width: 700px) {
    .catalog.slider {
	max-width: 500px;
    }
}
@media screen and (max-width: 600px) {
    #production {
	.in {
	    padding-bottom: 40px;
	}
	
	h2 {
	    margin-bottom: 40px;
	}
    }
    
    .production_block {
	padding: 0 32px;
	
	.prod_item {
	    height: 350px;
	    background-size: auto 110%;
	    
	    //background: none;
	    
	    &:before {
		width: 144px;
		height: 144px;
		margin-left: -72px;
		top: 62px;
	    }
	    .bg {
		background-position: center -22px;
		background-size: auto 110%;
	    }
	    
	    .img {
		height: 220px;
		margin-top: -3px;
		margin-bottom: 4px;
	    }
	    
	    h4 {
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 12px;
	    }
	}
    }
    
    .catalog.slider {
	max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .catalog.slider {
	max-width: 300px;
    }
}

@media screen and (max-width: 450px) {
    #production {
	
    }
}

/* end production styles */